.buttons {
    height: 55px;
    width: 56px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.btnUp {
    background: url(./Images/arrow-up.svg) no-repeat;
}
.btnDown {
    background: url(./Images/arrow-down.svg) no-repeat;
}
.btnLeft {
    background: url(./Images/arrow-left.svg) no-repeat;
}
.btnRight {
    background: url(./Images/arrow-right.svg) no-repeat;
    
}
.btnCounterClock {
    background: url(./Images/rotate-ccw.svg) no-repeat;
}
.btnClock {
    background: url(./Images/rotate-cw.svg) no-repeat;
}
.btnReflecX {
    background: url(./Images/reflection-x.svg) no-repeat;
}
.btnReflecY {
    background: url(./Images/reflection-y.svg) no-repeat;
}
/* .btnExecute {
    background: url(./Images/check-circle.svg) no-repeat;
} */

.numInput {
    height: 46px;
    width:100px;
    margin-left: 15px;
    font-size: 18px;
    margin-bottom: 3px;
}
.transformSelector {
    /* height: 5%; */
    height: 4vh;
    width: 25vh;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 250, 177);
    background-color: black;
}
.degrees {
    height: 52px;
    width:100px;
    margin-left: 15px;
    font-size: 2.5vh;
    
}
.degrees:focus {
    background-color: white
}
.banner {
    color: black;
 
    /* font-size: 50px; */
    margin-top: 0px;
    height: 80px;
    background-image: linear-gradient(black,rgb(255, 250, 177), black);
    
}
.header {
    font-size: 35px;
    
}
.navbar {
    height: 30px;
    width: 200px;
    font-size: 21px;
    font-weight: bold;
    margin-right: 5px;
}
.navbarClicked {
    height: 30px;
    width: 200px;
    font-size: 21px;
    font-weight: bold;
    margin-right: 5px;
    background-color: teal;
    color: white;
}
.canvas {
    height: 85vh;
}
/* .GameArea {
    background-image: url('./Images/backgroundforChallenges.JPG'); 
    background-color: rgb(0, 0, 0);
     height: 10/0%;
} */