#actionQueue{
    background-color: blue;
}
h1 {
    color: white;
   
}
.buildStrategy {
    display: grid;
    grid-template-columns: 2.5fr;
    /* grid-template-rows: 2fr 0.2fr; */
    justify-items: center;
    
}
.btnExecute {
    background: url(./Images/play-circle.svg) no-repeat;
}
.btnCancel {
    background: url(./Images/x-circle.svg) no-repeat;
   
}
.btnUndo {
    background: url(./Images/undo.svg) no-repeat;
   
}
.actionList {
    height: 68%;
    /* width: 450px; */
    margin-top: 10px;
    /* border: 1px solid blue; */
    background-color: "lightskyblue";
    filter: drop-shadow(22px 16px 2px grey);
    /* background: url(./Images/actionList.jpg) no-repeat; */
}
.dropdownStrategy {
    height: 4vh;
    width: 25vh;
    font-size: 18px;
    font-weight: bold;
    /* color: blue; */
    /* background-color: lightgray; */
}

.widthHeight {
    width: 8vh;
    height:4.5vh;
    margin: 0px 0px;
    font-weight: bold;
    font-size: 14px;
    
}